/* Add this CSS in your stylesheets */

.NavLinkContainer {
    position: relative;
    overflow: hidden;
  }
  
  .NavLinkContainer .NavLinkBackground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f2ae39;
    transition: height 0.3s ease;
    z-index: 1; /* Set a higher z-index */
  }
  
  .NavLinkContainer .NavLinkText {
    position: relative;
    z-index: 2; /* Set a higher z-index */
  }
  
  .NavLinkContainer:hover .NavLinkBackground {
    height: 100%;
  }
  
  .logOutCircle {
    transition: transform ease-in-out 300ms !important;
  }
  
  .logOutCircle:hover {
    outline: none !important;
    stroke: none;
    stroke-width: 0;
    outline: none;
  }